.container {
  background: linear-gradient(to top right, #281754, #b592f1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bodyContainer {
  width: 100%;
  padding: 10px;
}

.navigatorRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  border-radius: 0 0 20px 20px;
}

.navigatorRow div {
  text-align: center;
  flex: 1;
}

.navigatorRow .link {
  display: block;
  margin: 0 1px 0 0;
  padding: 10px;
  background-color:white;
  text-decoration: none;
  color: #7052bb;
  font-weight: bold;
}

.navigatorRow div:first-child .link {
  border-radius: 0 0 0 20px;
}

.navigatorRow div:last-child .link {
  border-radius: 0 0 20px 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 1.75em;
  margin-bottom: 20px;
  color: white;
}

.image {
  max-width: 1000px;
  width: 60%;
  height: auto;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercisesList {
  width: 60%;
  color: #7052bb;
}

.exercisesList>div {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 15px;
}

.exerciseName {
  margin: 0px 0px 10px 0px;
  font-size: 0.9em;
}

.exerciseDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-size: 0.75em;
  text-decoration: none;
  color: blue;
  border: none;
  background-color: white;
}

.descriptionRow {
  margin: 10px;
  width: 60%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.descriptionRow button {
  font-weight: bold;
  padding: 5px 10px;
  color: #7052bb;
  background-color: white;
  border-radius: 5px;
  border-style: none;
}

.descriptionColumn {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.descriptionColumn p {
  margin-bottom: 8px;
}

.checkbox {
  accent-color: #7052bb;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75%;
  max-width: 500px;
  overflow-y: auto;
  max-height: 80%;
}

.modalContent h4 {
  text-align: center;
  margin-top: 0
}

.modalContent ul {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.modalContent li {
  background-color: #f2f2f2;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.modalContent input {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ddd;
  outline: none;
}

.modalContent button {
  border-radius: 10px;
  border: none;
  padding: 15px;
  background: #7052bb;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }

  .bodyContainer {
    width: auto;
  }

  .exercisesList {
    width: 100%
  }

  .descriptionRow {
    width: 95%;
  }

  .navigatorRow {
    width: 100%;
  }

  .navigatorRow .link {
    font-size: 0.8em;
  }

  .navigatorRow div:first-child .link {
    border-radius: 0;
  }

  .navigatorRow div:last-child .link {
    border-radius: 0;
  }
}