.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top right, #281754, #b592f1);
  height: 100vh;
}

.title {
  color: white;
  text-align: center;
}

.main {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 48%;
  height: 80%;
}

.link {
  text-decoration: none;
}

.cardTitle {
  color: #7052bb;
}

.navigateForm button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: white;  
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  outline: none;
}

@media (max-width: 600px) {
  .main {
    width: 80%;
  }

  .card {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 30%;
  }
}