.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top right, #281754, #b592f1);
  height: 100vh;
}

.title {
  color: white;
  text-align: center;
}

.main {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.workoutCard,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 10px;
  width: 48%;
  height: 80%;
}

.workoutCard {
  position: relative;
  background-image: url('/assets/workout.jpg');
  background-size: cover;
  background-position: center;
}

.workoutCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 10px;
}

.workoutCard > * {
  position: relative;
  z-index: 2;
}

.link {
  text-decoration: none;
}

.cardTitle {
  color: white;
}

.navigateForm button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  outline: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main {
    width: 80%;
  }

  .workoutCard {
    width: 100%;
    height: 30%;
  }

  .card {
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    height: 30%;
  }
}